<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mikielis_popuppromo>
            <functional>
                <enable>0</enable>
            </functional>
        </mikielis_popuppromo>
    </default>
</config>